/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 10px;

}

:root {
  --color1: #264653;
  --color2: #2A9D8F;
  --color3: #E9C46A;
  --color4: #F4A261;
  --color5: #E76F51;
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}
h2, h3{
  font-size: 2rem;
  font-weight: 700;
}

body {
  //width: 100%;
}

li{
  list-style-type: none;
}

button{

  width: 100%;
  //padding: 0.25rem 0;
  padding: 0;
  margin: 0.5rem 0;
  overflow: hidden;

  background: var(--color5);
  border: none;
  color: white;
  border-radius: 0.5rem;

  display: flex;
  justify-content: start;
  align-items: center;
  transition: 0.75s;

  > .badge{
    height: 100%;
    width: 20%;
    padding: 1rem;
    background: var(--color1);
    //margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.75s;
  }
  > .name{
    margin-left: 1rem;
       font-size: 2rem;
       font-weight: 800;
     }
}

button.selected {
  background: var(--color2);
}

button:hover{
  background: var(--color1);
  color: whitesmoke;
  border: solid white 0.05rem;

  > .badge {
    background: var(--color5);
  }
}


//input box style
.input-box {
  width: 100%;
  position: relative;
}

.input-box .input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--color1);
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.75rem;

  transition: 1s;
}

.input-box .input-label {
  font-size: 1.25rem;
  color: #264611;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  position: absolute;
  left: 1.25rem;
  pointer-events: none;
  padding: 1.25rem;

  transition: 0.5s;
}

.input-box input:valid ~ label, .input-box input:focus ~ label {
  color: #ffffff;
  z-index: 3;
  transform: translateX(10px) translateY(-7px);
  font-size: 1rem;
  padding: 0 1.25rem;
  margin: 0 1.25rem;
  background: var(--color1);
  border-left: 0.2rem solid var(--color1);
  border-right: 0.2rem solid var(--color1);

  letter-spacing: 0.2rem;
}
